<!-- 关于我们 -->
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="container">

    <br/>
    <br/>
    <br/>

    <div class="row">

        <div class="col-md-6 col-sm-12">

            <canvas id="carbonWeight2014"></canvas>


        </div>

        <div class="col-md-6 col-sm-12">
            <canvas id="carbonWeight2015"></canvas>

        </div>


    </div>

    <br/>
    <br/>


    <div class="row">

        <div class="col-md-6 col-sm-12">

            <canvas id="carbonWeight2016"></canvas>


        </div>

        <div class="col-md-6 col-sm-12">


            <canvas id="EachYearSum"></canvas>

        </div>

    </div>

    <br/>
    <br/>

    <div class="row">
        <div class="col-md-12 col-sm-12">

            <canvas id="EachYearSumLine"></canvas>

        </div>

    </div>

</div>

<br/>
<br/>
<br/>
