<!-- 配置数据类型 -->
<br/>
<br/>


<div class="topic_datafill" ng-controller="DataConfigController">


    <div class="row">

        <div class="col-md-3 col-sm-12">



            <!--Three line list with icon -->
            <ul class="list-group pmd-z-depth pmd-list pmd-card-list">


                <li class="list-group-item">
                    <i class="material-icons media-left pmd-sm">account_box</i>
                    <div class="media-body">
                        <h3 class="list-group-item-heading">

                            <!--Title, Media, and Action area -->
                            <div class="pmd-card pmd-card-media-inline pmd-card-default pmd-z-depth-1">
                                <!-- Card media-->
                                <div class="pmd-card-media">
                                    <!-- Card media heading -->
                                    <div class="media-body">
                                        <h2 class="pmd-card-title-text">南昌大学</h2>
                                        <span class="pmd-card-subtitle-text"><a style="font-size: 18px">企业用户</a></span>
                                    </div>

                                    <!-- Card media image -->
                                    <div class="media-right media-middle">
                                        <a href="javascript:void(0);">
                                            <img width="112" height="112" src="http://propeller.in/assets/images/profile-pic.png">
                                        </a>
                                    </div>
                                </div>

                                <!-- Card action -->
                                <div class="pmd-card-actions">
                                    <button class="btn pmd-btn-outline pmd-ripple-effect btn-default" type="button"><a style="font-size: 17px">个人主页</a></button>
                                    <button type="button" class="btn pmd-btn-outline pmd-ripple-effect btn-default"><a style="font-size: 17px">我的报告</a></button>
                                </div>
                            </div>

                        </h3>
                    </div>
                </li>


                <li class="list-group-item">
                    <i class="material-icons media-left pmd-sm">date_range</i>
                    <div class="media-body">
                        <h3 class="list-group-item-heading">
                            <button class="btn btn-sm pmd-btn-outline pmd-ripple-effect btn-default" ui-sref="app.data-filling" style="width: 100%" data-toggle="tooltip" data-placement="bottom" title="可按年度或月度进行碳数据采集、填报, 并将月度填报数据汇总到年度数据"><h3 class="font_s2">选择填报年月</h3></button>
                        </h3>
                    </div>
                </li>
                <li class="list-group-item">
                    <i class="material-icons media-left">build</i>
                    <div class="media-body">
                        <h3 class="list-group-item-heading">
                            <button type="button" class="btn btn-sm  pmd-btn-outline pmd-ripple-effect btn-default" ui-sref="app.data-config" style="width: 100%" data-toggle="tooltip" data-placement="bottom" title="平台提供常用的碳数据模型 , 让您更方便的填报"><h3 class="font_s2">配置数据类型</h3></button>
                        </h3>
                    </div>
                </li>
                <li class="list-group-item">
                    <i class="material-icons media-left">border_color</i>
                    <div class="media-body">
                        <h3 class="list-group-item-heading">
                            <button type="button" class="btn btn-sm  pmd-btn-outline pmd-ripple-effect btn-default"  ui-sref="app.fill-data"  style="width: 100%" data-toggle="tooltip" data-placement="bottom" title="数据填报人员填报或者导入数据 , 系统会自动分析并存储入数据库"><h3 class="font_s2">填报行业数据</h3></button>
                        </h3>
                    </div>
                </li>
                <li class="list-group-item">
                    <i class="material-icons media-left">content_paste</i>
                    <div class="media-body">
                        <h3 class="list-group-item-heading">
                            <button type="button" class="btn btn-sm  pmd-btn-outline pmd-ripple-effect btn-default" style="width: 100%" data-toggle="tooltip" data-placement="bottom" title="根据所填数据 , 系统自动分析并生成数据报告"><h3 class="font_s2">生成碳报告</h3></button>
                        </h3>
                    </div>
                </li>


            </ul>

            <br/>



        </div>

        <div class="col-md-9 col-sm-12">


            <!--Scrollable tab example -->
            <div class="pmd-card pmd-z-depth">
                <div class="pmd-tabs pmd-tabs-scroll pmd-tabs-bg">
                    <div class="pmd-tabs-scroll-left" style="background-color: #0c0c0c"><i class="material-icons pmd-sm">chevron_left</i></div>
                    <div class="pmd-tabs-scroll-container pmd-z-depth" style="background-color: #0c0c0c">
                        <div class="pmd-tab-active-bar"></div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#config" target=_self aria-controls="home" role="tab" data-toggle="tab"><span class="nav_font1">配置数据类型</span></a></li>
                        </ul>
                    </div>
                    <div class="pmd-tabs-scroll-right" style="background-color: #0c0c0c"><i class="material-icons pmd-sm">chevron_right</i></div>
                </div>
                <div class="pmd-card-body">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="config">

                            <div class="row">

                                <div class="col-md-6 col-sm-12">


                                        <!--Media, Title, and Action Area -->
                                        <div class="pmd-card pmd-card-media-inline pmd-card-default pmd-z-depth">

                                            <!-- Card media-->
                                            <div class="pmd-card-media">
                                                <!-- Card media heading -->
                                                <div class="media-body">
                                                    <h2 class="pmd-card-title-text">月度总碳排量</h2>
                                                    <span class="pmd-card-subtitle-text">填报的数据为该月份对应的碳排量,单位为（吨）</span>
                                                    <br/>
                                                    <span class="pmd-card-subtitle-text">如果你需要一次性导入所有月份的数据,请你下载EXCEL模板并按要求填写数据</span>

                                                </div>

                                                <!-- Card media image -->
                                                <div class="media-right media-middle">
                                                    <a href="javascript:void(0);">
                                                        <img width="80" height="80" src="http://propeller.in/assets/images/profile-pic.png">
                                                    </a>
                                                </div>
                                            </div>

                                            <!-- Card action -->
                                            <div class="pmd-card-actions">
                                                <button ng-click="startFillData()" class="btn pmd-btn-flat pmd-ripple-effect btn-primary" type="button">开始填报</button>

                                            </div>
                                        </div>

                                </div>

                                <div class="col-md-6 col-sm-12">


                                    <!--&lt;!&ndash;Media, Title, and Action Area &ndash;&gt;-->
                                    <!--<div class="pmd-card pmd-card-media-inline pmd-card-default pmd-z-depth">-->

                                        <!--&lt;!&ndash; Card media&ndash;&gt;-->
                                        <!--<div class="pmd-card-media">-->
                                            <!--&lt;!&ndash; Card media heading &ndash;&gt;-->
                                            <!--<div class="media-body">-->
                                                <!--<h2 class="pmd-card-title-text"></h2>-->
                                                <!--<span class="pmd-card-subtitle-text">Secondary text</span>-->
                                            <!--</div>-->

                                            <!--&lt;!&ndash; Card media image &ndash;&gt;-->
                                            <!--<div class="media-right media-middle">-->
                                                <!--<a href="javascript:void(0);">-->
                                                    <!--<img width="80" height="80" src="http://propeller.in/assets/images/profile-pic.png">-->
                                                <!--</a>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <!--&lt;!&ndash; Card action &ndash;&gt;-->
                                        <!--<div class="pmd-card-actions">-->
                                            <!--<button class="btn pmd-btn-flat pmd-ripple-effect btn-primary" type="button">Primary</button>-->
                                            <!--<button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-default">Action</button>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                </div>



                            </div>

                            <br/>



                        </div>



                    </div>
                </div>
            </div> <!--Scrollable tab example end-->


        </div>


    </div>
    <br/>
    <br/>
    <br/>
</div>
<!--&lt;!&ndash;</div>&ndash;&gt;-->


<script type="text/javascript">
    $(document).ready( function() {
        $('.pmd-tabs').pmdTab();
        $('[data-toggle="tooltip"]').tooltip()

    });
</script>