    <!-- Footer Starts -->
    <footer class="admin-footer">
            <div class="container-fluid">
                    <center>
                    <span class="pmd-card-subtitle-text">Cxspace &copy; 2016. All Rights Reserved.</span>
                 
                <ul class="list-unstyled list-inline">
                    <li>
    
                   </li>
           
                   <li>
                      <h3 href="" class="pmd-card-subtitle-text"><a>相关链接一</a>&nbsp;&nbsp;|</h3>
                   </li>
                   <li>
                        <h3 href="" class="pmd-card-subtitle-text"><a>相关链接一</a>&nbsp;&nbsp;|</h3>
                   </li>
                   <li>
                      <h3 href="" class="pmd-card-subtitle-text"><a>相关链接一</a>&nbsp;&nbsp;|</h3>
                   </li>
                   <li>
                        <h3 href="" class="pmd-card-subtitle-text"><a>相关链接一</a>&nbsp;&nbsp;|</h3>
                     </li>
                     <li>
                          <h3 href="" class="pmd-card-subtitle-text"><a>相关链接一</a>&nbsp;&nbsp;|</h3>
                     </li>
                     <li>
                        <h3 href="" class="pmd-card-subtitle-text"><a>相关链接一</a></h3>
                     </li>
               </ul>
               <h3 class="pmd-card-subtitle-text">赣ICP备16010316号-1</h3>
               
    </center>           
            </div>
           </footer>
           <!-- Footer Ends -->