
    <!-- Nav menu with search -->

    <nav class="navbar navbar-inverse pmd-navbar navbar-fixed-top pmd-z-depth">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#example-navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><i class="material-icons  md-light pmd-sm">home</i>主页</a>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#"  ui-sref="app.aboutus"><i class="material-icons  md-light pmd-sm">account_circle</i><span class="nav_font1">关于我们</span></a></li>
                    <li><a href="#" ui-sref="app.cooperation"><i class="material-icons  md-light pmd-sm">supervisor_account</i><span class="nav_font1">合作</span></a></li>
                    <li><a href="#" ui-sref=""><i class="material-icons  md-light pmd-sm">description</i><span class="nav_font1">碳配额</span></a></li>
                    <li><a href="#" ui-sref="app.data-filling"><i class="material-icons  md-light pmd-sm">create</i><span class="nav_font1">数据填报</span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" ui-sref="app.register"><span class="glyphicon glyphicon-user"></span> <span class="nav_font1">注册</span></a></li>
                    <li><a href="#" ui-sref="app.login"> <span class="glyphicon glyphicon-log-in"></span> <span class="nav_font1">登录</span></a></li>
                </ul>
            </div>
        </div>
    </nav>


