
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container">
                     
<div class="row">
 <div class="col-md-6 col-md-offset-3 col-sm-12">

	<div class="login-card">
			<form>	
				<div class="pmd-card-title card-header-border text-center">
					<div class="loginlogo">
						<a href="javascript:void(0);"><img src="themes/images/logo-icon.png" alt="Logo"></a>
					</div>
                    <h3 class="font_s2"> 登录碳专家(功能模块尚未开发) </h3>
				</div>
				
				<div class="pmd-card-body">
					<div class="alert alert-success" role="alert"> 注册成功! 请登录. </div>
                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label for="inputError1" class="control-label pmd-input-group-label"><h3 class="font_s2">用户名</h3></label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="material-icons md-dark pmd-sm">perm_identity</i></div>
                            <input type="text" class="form-control" id="exampleInputAmount">
                        </div>
                    </div>
                    
                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label for="inputError1" class="control-label pmd-input-group-label"><h3 class="font_s2">密码</h3></label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="material-icons md-dark pmd-sm">lock_outline</i></div>
                            <input type="text" class="form-control" id="exampleInputAmount">
                        </div>
                    </div>
                </div>
				<div class="pmd-card-footer card-footer-no-border card-footer-p16 text-center">
					<div class="form-group clearfix">
						<!-- <div class="checkbox pull-left">
							<label class="pmd-checkbox checkbox-pmd-ripple-effect">
								<input type="checkbox" checked="" value="">
								<span class="pmd-checkbox"> Remember me</span>
							</label>
						</div> -->
						<span class="pull-right forgot-password">
							<a href="javascript:void(0);">忘记密码?</a>
						</span>
					</div>
                    <a href="index.html" type="button" class="btn pmd-btn-outline pmd-ripple-effect btn-default" style="font-size:18px">登录</a>
                    
                    <p class="font_s2">还没又账户? <a ui-sref="app.register" class="register-login">请注册</a>. </p>
                    
				</div>
				
			</form>
		</div>
    </div>
</div>
</div>
